#whale-canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

div#whale-canvas-container {
    background: #2e3192;
}

#errorMsg {
    font-size: 2em;
}

/* Fonts */

@font-face {
    font-family: "ObjectSans-Regular";
    src: url("/font/ObjectSans-Regular.otf");
    font-weight: normal;
    font-style: normal;
}
