{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <style>
        #header {
            background-image: linear-gradient(to right, darkcyan, cyan);
            color: whitesmoke;
        }

        #home-link {
            color: whitesmoke;
            text-decoration: none;
            transition: 0.2s;
        }

        #home-link:hover {
            color: white;
        }
        .nav-link{
            color: white;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid text-center" id="header">
        <h1>
            <a href="/" id="home-link">ilinx</a>
        </h1>

        <!-- TODO: Add a navbar here or something. -->
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="accountName">
<!--                    add account name to nav bar when logged in-->
                    Account:{% if text %} {{text}} {% endif %}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">profile</a>
                    <a class="dropdown-item" href="#">settings</a>
                    <a class="dropdown-item" href="#">security</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/loggingOut">Sign out</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Learn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/whale">Play</a>
            </li>
        </ul>
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

{% endblock %}