{% extends "base.html" %}

{% block title %}
    ilinx
{% endblock %}

{% block head %}
    {{ super() }}

    <style>
        #header {
            background-image: linear-gradient(to right, darkcyan, cyan);
            color: whitesmoke;
        }
    </style>
{% endblock %}

{% block body %}
    <!-- TODO: Integrate Natasha's website here. -->
    <div class="jumbotron" id="header">
        <h1>ilinx</h1>
        <p>We're pushing what fun can be.</p>
    </div>

    <div class="container">
        <div class="row">
            <a href="/create-account">Create an account</a>
        </div>
        <div class="row">
            <a href="/login-account">Log into an existing account</a>
        </div>
    </div>
{% endblock %}
