{% extends "app-base.html" %}

{% block title %}
    Log into an existing account
{% endblock %}

{% block content %}
    <div class="text-center">
        <p>
            Log into your existing Whale account.
        </p>
    </div>

    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
        {% if messages[0]=='Please check login details and try again.' %}
            <div class="alert alert-warning text-center">
                {{ messages[0] }} 
            </div>
        {% elif messages[0]%}
            <div class="alert alert-success text-center">
                {{ messages[0] }} 
            </div>
        {% endif %}
        {% endwith %}
        <div class="row">
           <div class="col-md-4 mx-auto">
              <div class="form ">
                 <form action="/login-account" method="post">

                    <div class="form-group row">
                        <input type="email" name="email"  class="form-control" id="email" placeholder="Email">
                    </div>
  
                    <div class="form-group row">
                       <input type="password" name="password"  class="form-control" id="password" placeholder="Password">
                    </div>
                    
                    <div>
                       <input type="checkbox" id="remember" name="password"> Remember me
                    </div>

                    <div class="text-center ">
                       <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    
                 </form>
              </div>
           </div>
        </div>
     </div>

{% endblock %}
