{% extends "app-base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="../css/signup.css">
{% endblock %}

{% block title %}
Create an account
{% endblock %}

{% block content %}
<div class="row">
    <p>
        Account created successfully, this is a canvas to act as a home page for {{ current_user.user_name}}
<!--        once log out is implemented we can add user name-->
<!--        {{ current_user.user_name}}-->
    </p>
</div>

<!-- TODO: Add "login" and "forgot password?" links here. -->

<!--script to show survey on button press-->


{% endblock %}