{% extends "app-base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="../css/signup.css">
{% endblock %}

{% block title %}
    Short Survey
{% endblock %}

{% block content %}
<div class="form " style="align-content: center">
  <form action="/questionnaire" method="post" name="login">

<!--                    questions for survey-->
    <br><br>
     <div class="form-group" id="gender" name="gender">
         <!-- Gender question -->
         <label for="Gender">Gender</label>
         <select class="form-control">
             <option value="male">male</option>
             <option value="female">female</option>
             <option value="other">other</option>
         </select>
     </div>

     <div class="form-group" id="age" name="age">
         <label for="age">How old are you?</label>
         <select class="form-control" onclick="ages()">
             <option >under 20</option>
             <option >20s</option>
             <option >30s</option>
             <option >40s</option>
             <option >50s</option>
             <option >60s</option>
             <option >70s</option>
             <option >80s</option>
             <option >90s</option>
         </select>
     </div>

     <div class="form-group" id="experience" name="experience">
         <label for="experience">How much experience do you have?</label>
         <select class="form-control">
             <option value="none"> 0 Years </option>
             <option value="little"> <2 Years </option>
             <option value="some"> <5 Years </option>
             <option value="alot"> 5 Years or more </option>
         </select>
     </div>
    <br><br>

    <!--                   create account-->
    <div class="text-center ">
      <button type="submit" class="btn btn-primary" id="create">Create Account</button>
    </div>

  </form>
</div>
{% endblock %}
