<html>
    <head>
        <title>Welcome to Whale!</title>

        <link href="/css/reset.css" rel="stylesheet" type="text/css"/>
        <link href="/css/whale.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <div class="content-wrapper">
            <div class="content">
                <h1>Welcome to Whale!</h1>
                <p>
                    Whale is a game about <strong>shares.</strong>
                    When companies need to raise money, they may sell portions of themselves, or shares, to members of
                    the general public. These "share-holders" are entitled to a share of the company's future earnings,
                    and in certain cases, even a deciding say in questions about the company's future. They are also
                    allowed to sell their shares to others.
                </p>
                <p>
                    Healthy companies' shares generate more money, so they are in higher demand, and thus command a higher price
                    on the open market. Shareholders around the world place careful bets every day, speculating about the prices
                    of shares by tracking the news.
                </p>
                <p>
                    Whale keeps you on the pulse of these companies' shares in a fun and engaging way.
                    You will have 30 seconds. Simply select which stock you think did better yesterday (based on the
                    price one share commanded when markets closed versus when it opened, as a percentage of the share's
                    opening value), and keep going until you're out of time or out of shares.
                    You'll earn 100 points for each correct answer, no negative marking.
                </p>
                <p>
                    Good luck! <a class="content" href="/whale">Click here to begin.</a>
                </p>
            </div>
        </div>
    </body>
</html>
